
.formhead {
background-color:#3486d9;
height:13%;
margin-top:0%;
color:white;
font-family:lucida calligraphy;
}

.wrap {
text-align:center;
margin-left:10%;
margin-right:10%;
border-style:solid;
border-color:black;
}
td{
 padding: 30px;
padding-bottom:0px;
text-align: right;
}
.cond{
margin-left:0%;
text-align:left;
margin-top:5%;
}

.button {
margin-left:5px;
margin-top:5%;
padding:30px;
}


